<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ECollect"
        tools:targetApi="31">
        <activity
            android:name=".AddAnnouncement"
            android:exported="false" />
        <activity
            android:name=".EditAnnouncement"
            android:exported="false" />
        <activity
            android:name=".Notifications"
            android:exported="false" />
        <activity
            android:name=".Dashboard"
            android:exported="false" />
        <activity
            android:name=".HomePage"
            android:exported="false"/>
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity>-->
        <activity
            android:name=".CalendarMonthly"
            android:exported="false" />
        <activity
            android:name=".Bulletin"
            android:exported="false" />
        <activity
            android:name=".Directory"
            android:exported="false" />
        <activity
            android:name=".Faqs"
            android:exported="false" />
        <activity
            android:name=".WasteSegregationSearch"
            android:exported="false" />
        <activity
            android:name=".ItemBiodegradablePanel"
            android:exported="false" />
        <activity
            android:name=".ItemBulkyPanel"
            android:exported="false" />
        <activity
            android:name=".ItemHazardousPanel"
            android:exported="false" />
        <activity
            android:name=".ItemRecyclablePanel"
            android:exported="false" />
        <activity
            android:name=".ItemResidualPanel"
            android:exported="false" />
        <activity
            android:name=".JunkshopRates"
            android:exported="false" />
        <activity
            android:name=".RecyclableCategories"
            android:exported="false" />
        <activity
            android:name=".RecyclableMaterials"
            android:exported="false" />
        <activity
            android:name=".RecyclingCarton"
            android:exported="false" />
        <activity
            android:name=".RecyclingGlass"
            android:exported="false" />
        <activity
            android:name=".RecyclingMetal"
            android:exported="false" />
        <activity
            android:name=".RecyclingOrganic"
            android:exported="false" />
        <activity
            android:name=".RecyclingPaper"
            android:exported="false" />
        <activity
            android:name=".RecyclingPlastic"
            android:exported="false" />
        <activity
            android:name=".RegistrationPage"
            android:exported="false" />
        <!--
   <intent-filter>
              <action android:name="android.intent.action.VIEW" />

              <category android:name="android.intent.category.DEFAULT" />
          </intent-filter>
      </activity>
        -->
        <activity
            android:name=".CalendarWeekly"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCeUvKOGmdzv7aBRrk5v5BzbvUhpWOn1EY" />

        <activity
            android:name=".RecyclingCenterMap"
            android:exported="false" />

        <activity
        android:name=".UserProfilePanel"
        android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>