<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ECollect"
        tools:ignore="ExtraText"
        tools:targetApi="31">

        <!-- Activities Declarations -->
        <activity android:name=".RecyclingCarton" android:exported="false" />
        <activity android:name=".RecyclingMetal" android:exported="false" />
        <activity android:name=".RecyclingOrganic" android:exported="false" />
        <activity android:name=".RecyclingGlass" android:exported="false" />
        <activity android:name=".RecyclingPaper" android:exported="false" />
        <activity android:name=".RecyclingPlastic" android:exported="false" />
        <activity android:name=".WasteSegregationSearch" android:exported="false" />
        <activity android:name=".Bulletin" android:exported="false" />
        <activity android:name=".RecyclableMaterials" android:exported="false" />
        <activity android:name=".Directory" android:exported="false" />
        <activity android:name=".RecyclableCategories" android:exported="false" />
        <activity android:name=".JunkshopRates" android:exported="false" />
        <activity android:name=".Faqs" android:exported="false" />
        <activity android:name=".HomePage" android:exported="false" />

        <!-- MainActivity as Launcher Activity -->
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- RegistrationPage Activity -->
        <activity android:name=".RegistrationPage" android:exported="true" />

        <!-- UserLogin Activity -->
        <activity android:name=".UserLogin" android:exported="true" />

        <!-- Meta-Data for Preloaded Fonts -->
        <meta-data android:name="preloaded_fonts" android:resource="@array/preloaded_fonts" />
    </application>
</manifest>